* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  --size_zone: 50px;
  --margin_clue: 5px;
}

body {
  background: lightblue;
}

ul,
li {
  display: flex;
  width: fit-content;
  align-items: center;
}

#board_with_all_clues {
  width: fit-content;
}
#board_with_clues_line {
  display: flex;
}

#board {
  flex-direction: column;
  border: 2.5px solid black;
}

#clues_lines {
  flex-direction: column;
  justify-content: space-around;
}
#clues_columns {
  justify-content: space-around;
  padding-left: calc(var(--size_zone) * 2 + var(--margin_clue) * 2);
  width: 100%;
}

/*CLUES LINE and CLUE COLUMN*/
.clues_column,
.clues_line {
  background: lightslategray;
  border: 1px solid gray;
  border-radius: 7px;
  font-size: large;
}
.clues_column {
  height: calc(var(--size_zone) * 2);
  width: calc(var(--margin_clue) * 7);
  padding: var(--margin_clue) 0;
  margin: var(--margin_clue) 0;
  flex-direction: column;
  justify-content: end;
}
.clues_line {
  height: calc(var(--margin_clue) * 7);
  width: calc(var(--size_zone) * 2);
  padding: 0 var(--margin_clue);
  margin: 0 var(--margin_clue);
  justify-content: right;
  gap: var(--margin_clue);
}

.clues_ERROR {
  /* border: 1px solid red; */
  background: indianred;
}

.clues_done {
  background-color: aliceblue;
}

/*CLUE*/
.clue_normal {
  color: aliceblue;
}
.clue_ERROR {
  color: aliceblue;
  /* color: red; */
}
.clue_done {
  color: rgb(200, 200, 200);
}

/*ZONE*/

.zone {
  width: var(--size_zone);
  height: var(--size_zone);
  border: 1px solid lightgray;
}

.zone:hover {
  border: 1px solid darkblue;
}

.border_right {
  border-right: 2px solid black;
}
.border_bottom {
  border-bottom: 2px solid black;
}

.zone_empty {
  background-color: aliceblue;
}
.zone_fill {
  background-color: darkblue;
}
.zone_cross {
  background-color: lightgray;
}

/*ACTION*/

#action {
  padding: 2px;
  width: 100px;
  border: none;
  border-radius: 5px;
  margin: 5px;
}
