#clues_lines {
  flex-direction: column;
  padding: var(--size_border_board_outside) 0;
  align-items: stretch;

}

#clues_columns {
  justify-content: right;
  padding: 0 var(--size_border_board_outside);
  align-items: stretch;
}

.container_clues_line {
  height: var(--size_zone);
  padding: 0 var(--margin_clue);
}
.container_clues_line.border_bottom {
  height: calc(var(--size_zone) + var(--size_border_board_inside));
}

.container_clues_column {
  flex-direction: column;
  width: var(--size_zone);
  padding: var(--margin_clue) 0;
}
.container_clues_column.border_right {
  width: calc(var(--size_zone) + var(--size_border_board_inside));
}

.clues_column,
.clues_line {
  flex-grow: 1;

  border: var(--size_border_clue) solid var(--color_border_clues);
  border-radius: var(--border_radius);

  display: flex;
  align-items: center;
}

.clues_column {
  min-height: var(--size_clues_long);
  height: fit-content;
  width: var(--size_clues_short);
  
  padding: var(--margin_clue) 0;
  flex-direction: column;
  justify-content: end;
}

.clues_line {
  height: var(--size_clues_short);
  min-width: var(--size_clues_long);
  width: fit-content;

  padding: 0 var(--margin_clue);
  justify-content: right;
  gap: var(--margin_clue);
}


.clues_normal {
  background: var(--color_bg_clues_normal);
}

.clues_done {
  background: var(--color_bg_clues_done);
}

.clues_ERROR {
  border: calc(var(--size_border_clue) * 1.5) solid var(--color_border_clues_error);
  background: var(--color_bg_clues_error);
}

