.clue {
  font-size: var(--size_font_clue);
  height: var(--size_font_clue);
}

.clue_normal {
  color: var(--color_font_clue_normal);
}

.clue_done {
  color: var(--color_font_clue_done);
}

.clue_ERROR {
  color: var(--color_font_clue_error);
}

.clue_all_done {
  color: var(--color_font_clue_all_done);
}