* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;

  --size_zone: 30px;

  --size_border_board_inside: 2px;
  --size_border_board_outside: 4px;
  --size_border_zone: 1px;
  --size_border_clue: 1px;
  --size_border_clue_error: 2px;

  --size_font_clue: calc(var(--size_zone) / 2);
  --margin_clue: calc(var(--size_zone) / 10);
  --size_clues_long: calc(var(--size_zone) * 2);
  --size_clues_short: calc(var(--margin_clue) * 7);
  --border_radius: calc(var(--size_zone) / 6);

  --white: #fff;
  --dark: #5e748a;
  --light: #f0f6ff;
  --medium: #a7bfd7;
  --main: #6AA4DD;
  --complementary : #cd5c5c;

  --color_bg: var(--white);

  --color_zone_empty: var(--white);
  --color_zone_fill: var(--main);
  --color_zone_cross: var(--medium);

  --color_bg_clues_normal: var(--medium);
  --color_bg_clues_done: var(--white);
  --color_bg_clues_error: var(--medium);

  --color_font_clue_normal: var(--dark);
  --color_font_clue_done: var(--light);
  --color_font_clue_error: var(--complementary);
  --color_font_clue_all_done: var(--medium);

  --color_border_board: var(--dark);
  --color_border_clues: var(--medium);
  --color_border_clues_error: var(--complementary);
  --color_border_zone: var(--light);
  --color_border_zone_hover: var(--main);
}

body {
  background: var(--color_bg);
}

ul,
li {
  display: flex;
  width: fit-content;
  align-items: center;
}
