* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  --size_zone: 30px;
  --margin_clue: 3px;
  --border_board:2px;
  --border_gap:2px;
}

body {
  background: lightblue;
}

ul,
li {
  display: flex;
  width: fit-content;
  align-items: center;
}