.zone {
  width: var(--size_zone);
  height: var(--size_zone);
  border: var(--size_border_zone) solid var(--color_border_zone);
}

.zone:hover {
  border: var(--size_border_zone) solid var(color_border_zone_hover);
}

.zone_empty {
  background-color: var(--color_zone_empty);
}

.zone_fill {
  background-color: var(--color_zone_fill);
}

.zone_cross {
  background-color: var(--color_zone_cross);
}
